/airflow/logs/
/kafka-consumer/logs/
/logs/
**/__pycache__/

**/target/


.DS_Store
Thumbs.db


logs/
*.log
*.out
*.tmp
.cache/
tmp/
__pycache__/


*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/


airflow/logs/
airflow/__pycache__/
airflow/dags/__pycache__/
airflow/dags/utils/__pycache__/


dbt_project/logs/
dbt_project/target/
dbt_project/.dbt/
dbt_project/__pycache__/


kafka-consumer/__pycache__/


raport-creator/__pycache__/
raport-creator/.env
raport-creator/report.docx   # raporty generowane, nie wrzucamy do repo




.vscode/
.idea/
*.swp
*.swo
-
coverage/
*.lcov
